spring:
  application:
    name: notes-backend

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework: INFO
