spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:notesdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

  h2:
    console:
      enabled: true
      path: /h2-console

security:
  jwt:
    secret: my-super-secret-key-which-is-long-enough-123456
    expiration-ms: 86400000
